<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- if development -->
    {{if eq .ENVIRONMENT "development"}}
    <script type="module" src="http://192.168.43.234:5173/@vite/client"></script>
    <script type="module" src="http://192.168.43.234:5173/web/main.js"></script>
    {{else if eq .ENVIRONMENT "production"}}
    <!-- if production -->
    {{range $_, $e := .CssFiles}}<link rel="stylesheet" href="/dist/{{ $e }}" />{{end}}
    <script type="module" src="/dist/{{ .JsFile }}"></script>
    {{end}}
</head>
<body>
    <div id="app"></div>
</body>
</html>